{% extends 'admin/layout/layout_main.html.twig' %}

{% block title_detailed %}All Orders{% endblock %}

{% block body %}
    {% include 'admin/partials/table_filtration.html.twig' with {
        'form': form
    } %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold text-primary">Orders</h6>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="main_table">
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Created at', 'createdAt') }}</th>
                        <th>Count of products</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Total price', 'totalPrice') }}</th>
                        <th>User</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in pagination %}
                        <tr>
                            <td>
                                {{ order.id }}
                            </td>
                            <td>
                                {{ order.createdAt|date('H:i:s d/m/Y') }}
                            </td>
                            <td>
                                {{ order.getOrderProducts().getValues()|length }}
                            </td>
                            <td>
                                {{ order.totalPrice|format_currency('USD') }}
                            </td>
                            <td>
                                #{{ order.owner.id }} {{ order.owner.email }}
                            </td>
                            <td>
                                {{ orderStatusChoices[order.status] }}
                            </td>
                            <td>
                                <a href="{{ path('admin_order_edit', {'id': order.id}) }}" class="btn btn-outline-info">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}