{% extends 'base.html.twig' %}

{% block title %}Edit profile{% endblock %}

{% block body %}
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-details mt-1">
                    <h1 class="h4 mb-1 text-center font-weight-normal title-gradient-1">Edit profile</h1>
                    {{ form_start(form) }}

                    <div class="form-group">
                        {{ form_label(form.fullName) }}
                        {{ form_widget(form.fullName, {'attr': {
                            'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone, {'attr': {
                            'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.address) }}
                        {{ form_widget(form.address, {'attr': {
                            'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.zipcode) }}
                        {{ form_widget(form.zipcode, {'attr': {
                            'class': 'form-control'}}) }}
                    </div>

                    <div class="form-footer">
                        <button type="submit" class="btn btn-success">
                            <span>Save changes</span>
                        </button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}