{% extends 'admin/layout/layout_main.html.twig' %}

{% block title_detailed %}Edit Category{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% include 'admin/partials/breadcrumbs.html.twig' with {
                'sectionTitle': 'Categories',
                'actionUrl': path('admin_category_index'),
                'addActionUrl': path('admin_category_create'),
                'entity': category
            } %}
        </div>
        
        <div class="card-body">
            {{ form_start(form) }}
            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.title) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.title) }}
                    <div class="form-error">
                        {{ form_errors(form.title) }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-1">
                    Slug
                </div>
                <div class="col-md-11">
                    {{ category.slug }}
                </div>
            </div>

            <hr/>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <a href="{{ path('admin_category_index') }}" class="btn btn-default btn-return">
                        <i class="fas fa-arrow-circle-left"></i>
                    </a>
                    <button type="submit" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
                {% if category %}
                    <a class="btn btn-white" data-toggle="modal" data-target="#approveDeleteModal">
                        <i class="fas fa-times fa-sm"></i> 
                        Delete row
                    </a>
                {% endif %}
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>

    {% if category.id %}
        {% include 'admin/partials/modalwindow.html.twig' with {
            'modalId': 'approveDeleteModal',
            'modalTitle': 'Are you sure?',
            'modalText': 'Category will be deleted.',
            'actionUrl': path('admin_category_delete', {'id': category.id}),
            'modalBtnText': 'Delete row'
        } %}
    {% endif %}
{% endblock %}