{% extends 'admin/base.html.twig' %}

{% block title %}
    Admin Panel - {% block title_detailed %}{% endblock %}
{% endblock %}

{% block layout_body %}
<body id="page-top">
    <div id="wrapper">
        {{ include('admin/partials/sidebar.html.twig') }}

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {{ include('admin/partials/topbar.html.twig') }}

                <div class="container-fluid">
                    {% include 'flash_message.html.twig' %}

                    {% block body %}{% endblock %}
                </div>
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; EdVax</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    {% block javascripts %}{% endblock %}
</body>
{% endblock %}
