{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-3 text-center">
                <div class="page-details mt-4">
                    <h1 class="h4 font-weight-normal title-gradient-1">Cart:</h1>
                    <div class="row">
                        <div class="col-lg-12 order-block">
                            <div class="order-content">
                                {% if cart %}
                                    {% set cartPriceTotal = 0 %}
                                    <table class="table table-cart table-mobile main-cart-show">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cartProduct in cart.cartProducts %}
                                                {% set product = cartProduct.product %}
                                                <tr>
                                                    <td class="product-col">
                                                        <div class="text-center">
                                                            <div class="product-title">
                                                                <a href="{{ path('product_show', {'uuid': product.uuid}) }}" target="_blank">
                                                                    {{ product.title }}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td class="price-col">
                                                        ${{ product.price }}
                                                    </td>

                                                    <td class="quantity-col">
                                                        {{ cartProduct.quantity }}
                                                    </td>

                                                    <td class="total-col">
                                                        {% set cartProductPriceTotal = cartProduct.quantity * product.price %}
                                                        {% set cartPriceTotal = cartPriceTotal + cartProductPriceTotal %}
                                                        ${{ cartProductPriceTotal }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <div class="mb-2 mt-2">
                                        Total: <strong>${{ cartPriceTotal }}</strong>
                                    </div>

                                    <a href="{{ path('cart_create') }}"class="btn btn-success mb-3 text-white">
                                        MAKE ORDER
                                    </a>
                                {% else %}
                                    <div class="alert alert-info">Cart is empty</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

