@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #666666;
    font-weight:300;
    line-height: 26px;
    letter-spacing: 0.5px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    width: 1300px;
    max-width: 100%;
}

.page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


.main {
    flex: 1;
    width: 100%;
    background-color: #f8f9fa;
    min-height: 500px;
}

.page-content {
    padding-bottom: 5rem;
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1300px;
    }
}

.container,
.container-fluid {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem; 
}

.page-details {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: .5rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border: 20px solid #fff;
}

.page-login {
    max-width: 600px;
}

.hide {
    display: none;
}

::-webkit-scrollbar-track {
    background-color: #e9edf0;
    border-left: 1px solid #ededed;
}
::-webkit-scrollbar {
    width: 7px;
    background-color: #fdbcd1;
}
::-webkit-scrollbar-thumb {
    background: #fdbcd1;
}

.text-center {
    text-align: center !important;
}
