.form-group {
    margin-bottom: 2rem;
}

.form-group .form-control {
    margin-bottom: 0;
}

.form-control {
    height: 40px;
    padding: .25rem 1rem;
    font-size: 1rem;
    color: #777;
    background-color: #f8f8f8;
    border: 1px solid #d7d6d6;
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    color: #777;
    background-color: white;
    border-color: #cc66aa;
    box-shadow: none;
}

.form-control::placeholder {
    color: #bfbfbf;
}

label {
    color: #777;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0 0 1rem;
}

/*
.required {
    color: #e02b27;
    font-size: 1.2rem; }
*/

.custom-control {
    position: relative;
    padding-left: 2.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.custom-checkbox {
    cursor: pointer !important;
}

.custom-control-label {
    position: static;
    margin-top: .1rem;
    font-size: 1.2rem;
}

.custom-control-label::before {
    left: 0;
    top: .3rem;
    width: 1.3rem;
    height: 1.3rem;
    background-color: #f8f8f8;
    border: 1px solid #d7d6d6;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.custom-checkbox .custom-control-label::after {
    color: white;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
    visibility: hidden;
    background-image: none !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    color: white;
    border-color: #d7d6d6;
    background-color: #cc66aa;
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(51, 51, 51, 0.5);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    opacity: 1;
    visibility: visible;
}

.form-footer-buttons {
    display: flex;
    justify-content: space-between;
}

.form-additional {
    border-top: #e3e3e3 1px solid;
}
