{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-details page-login mt-2">
                    <h1 class="h3 mb-2 font-weight-normal title-gradient-1">
                        Login
                    </h1>
                    <form method="post" id="form">

                        <div class="form-group">
                            <label for="inputEmail">Username or email address *</label>
                            <input type="email" value="{{ last_username }}" class="form-control" id="inputEmail" name="email" required autofocus>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword">Password *</label>
                            <input type="password" class="form-control" id="inputPassword" name="password" required>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="rememberMe" name="_remember_me">
                                <label class="custom-control-label" for="rememberMe">Remember Me</label>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="form-footer-buttons">
                            <button type="submit" class="btn btn-success">
                                <span>Login</span>
                            </button>
                            <a href="{{ path('app_register') }}" class="btn btn-link">
                                <i class="fas fa-user"></i>
                                <span>Create an account</span>
                            </a>
                        </div>

                        <div class="form-additional mt-2 pt-1">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <a href="{{ path('forgot_password_request') }}">
                                        Or reset your password
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
