{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<div class="container-fluid">
    <h4 class="my-4">Categories</h4>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
        </tr>
        </thead>

        <tbody>
        {% for category in Categories %}
            <tr>
                <td>{{category.id}}</td>
                <td>{{category.title}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}