{% extends 'base.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}

{% block body %}
<div class="text-center">
    <div class="container mt-3 mb-2">
        <div class="row">
            <div class="col-lg-12 mb-2">
                <div class="page-title2">
                    <a class="page-title title-gradient-1">{{ category.title }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-list mb-3">
                    <div class="row justify-content-center">
                        {% for product in products %}
                            {% set images = product.getProductImages().getValues() %}
                            {% if images|length %}
                                {% set image = images[0] %}
                                <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                    <div class="product-item">
                                        <figure class="product-media">
                                            <span class="product-sale-status sale-status-new">New</span>
                                            <a href="{{ path('product_show', {'uuid': product.uuid}) }}">
                                                <img 
                                                    src="{{ asset('uploads/images/products/' ~ product.id ~ '/' ~ image.middleImage) }}" 
                                                    alt="{{ product.title }}" class="product-image"
                                                >
                                            </a>
                                            <div class="product-actions">
                                                <a onclick="addProductToCart('{{ product.uuid }}')" href="#" class="btn-add-to-cart">
                                                    add to cart
                                                </a>
                                            </div>
                                        </figure>

                                        <div class="product-card-content">
                                            <h3 class="product-title">
                                                <a href="{{ path('product_show', {'uuid': product.uuid}) }}">
                                                    {{ product.title }}
                                                </a>
                                            </h3>
                                            <div class="product-price justify-content-center">
                                                ${{ product.price }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const urlSaveProductToCart = '{{ path("api_cart_save") }}';

        function addProductToCart(uuid) 
        {
            const formData = new FormData();
            formData.append('productId', uuid);

            axios.post(urlSaveProductToCart, formData);
        }
    </script>
{% endblock %}