{% extends 'admin/layout/layout_main.html.twig' %}

{% block title_detailed %}Edit Product{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% include 'admin/partials/breadcrumbs.html.twig' with {
                'sectionTitle': 'Products',
                'actionUrl': path('admin_product_index'),
                'addActionUrl': path('admin_product_create'),
                'entity': product
            } %}
        </div>
        
        <div class="card-body">
            {{ form_start(form) }}
            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.title) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.title) }}
                    <div class="form-error">
                        {{ form_errors(form.title) }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-1">
                    Slug
                </div>
                <div class="col-md-11">
                    {{ product.slug }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.price) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.price) }}
                    <div class="form-error">
                        {{ form_errors(form.price) }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.quantity) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.quantity) }}
                    <div class="form-error">
                        {{ form_errors(form.quantity) }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.description) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.description) }}
                    <div class="form-error">
                        {{ form_errors(form.description) }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.category) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.category) }}
                    <div class="form-error">
                        {{ form_errors(form.category) }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.image) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.image) }}
                    <div class="form-error">
                        {{ form_errors(form.image) }}
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <span class="text-gray-600">Current images:</span>
                </div>
            </div>
            <div class="product-list">
                <div class="row">
                    {% set images = product.getProductImages().getValues() %}
                    {% if images|length %}
                        {% for image in images %}
                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <figure class="product-media">
                                    <img 
                                        src="{{ asset('uploads/images/products/' ~ product.id ~ '/' ~ image.middleImage) }}"
                                        style="width: 200px"
                                        alt="{{ image.middleImage }}"
                                    >
                                    <div class="mt-2">
                                        <a href="{{ path('admin_product_image_delete', {'id': image.id}) }}" class="btn btn-outline-info">
                                            DELETE
                                        </a>
                                    </div>
                                </figure>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-11 pl-5">
                    {{ form_widget(form.isPublished) }}
                    {{ form_label(form.isPublished) }}
                    <div class="form-error">
                        {{ form_errors(form.isPublished) }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-11 pl-5">
                    {{ form_widget(form.isDeleted) }}
                    {{ form_label(form.isDeleted) }}
                    <div class="form-error">
                        {{ form_errors(form.isDeleted) }}
                    </div>
                </div>
            </div>

            <hr/>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <a href="{{ path('admin_product_index') }}" class="btn btn-default btn-return">
                        <i class="fas fa-arrow-circle-left"></i>
                    </a>
                    <button type="submit" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
                {% if product %}
                    <a class="btn btn-white" data-toggle="modal" data-target="#approveDeleteModal">
                        <i class="fas fa-times fa-sm"></i> 
                        Delete row
                    </a>
                {% endif %}
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>

    {% if product.id %}
        {% include 'admin/partials/modalwindow.html.twig' with {
            'modalId': 'approveDeleteModal',
            'modalTitle': 'Are you sure?',
            'modalText': 'Product will be deleted.',
            'actionUrl': path('admin_product_delete', {'id': product.id}),
            'modalBtnText': 'Delete row'
        } %}
    {% endif %}
{% endblock %}