{% extends 'admin/layout/layout_main.html.twig' %}

{% block title_detailed %}All Products{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold text-primary">Products</h6>
                <a href="{{ path('admin_product_create') }}" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
                    <i class="fas fa-plus fa-sm text-white-50"></i> Create product
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="main_table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Avatar</th>
                        <th>Category</th>
                        <th>Is published</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.title }}</td>
                            <td>{{ product.price | format_currency('USD') }}</td>
                            <td>{{ product.quantity }}</td>
                             <td>
                                {% set images = product.getProductImages().getValues() %}
                                {% if images|length %}
                                    {% set image = images[0] %}
                                    <img
                                        src="{{ asset('uploads/images/products/' ~ product.id ~ '/' ~ image.MiddleImage) }}"
                                        style="width: 200px"
                                        alt="{{ image.MiddleImage }}"
                                    >
                                {% endif %}
                            </td>
                            <td>{% if product.category %} 
                                   {{ product.category.title }}
                                {% endif %}
                            </td>
                            <td>
                                <i class="fas fa-check fa-sm" style="color: {% if product.isPublished %}green{% else %}lightgray{% endif %};"></i>
                            </td>
                            <td>
                                <a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="btn btn-outline-info">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}