{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<div class="container-fluid">
    <h4 class="my-4">Products</h4>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quatity</th>
            {#<th></th>#}
        </tr>
        </thead>

        <tbody>
        {% for product in products %}
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.createdAt|date('d/m/Y H:i')}}</td>
                <td>{{product.title}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price | number_format(2, ",", " ")}} &dollar;</td>
                <td>{{product.quantity}}</td>
                {#<td>
                    <a href="{{path('product_edit', {'id': product.id})}}" class="btn btn-primary">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a href="{{path('product_delete', {'id': product.id})}}" class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a href="{{ path('product_create') }}" class="btn btn-success">Create a new product</a>#}
</div>
{% endblock %}