{% extends 'base.html.twig' %}

{% block title %}{{ user.fullName }}{% endblock %}

{% block body %}
<div class="page-content mt-3">
    <div class="container">
        <div class="product-full mb-2">
            <div class="row">
                <div class="col-md-6">
                    <div class="product-full-content">
                        <h1 class="product-title title-gradient-1">{{ user.fullName }}</h1>

                        <div class="product-price">
                            ${{ user.email }}
                        </div>

                        <div class="product-content">
                            <p>{{ user.password }}</p>
                        </div>

                        <div class="product-content">
                            <p>{{ user.phone }}</p>
                        </div>

                        <div class="product-content">
                            <p>{{ user.address }}</p>
                        </div>

                        <div class="product-content">
                            <p>{{ user.roles }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}