<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{% block title %}Admin Panel{% endblock %}</title>
    <meta name="keywords" content="{% block page_keywords %}clothes, jackets, jeans{% endblock %}">
    <meta name="description" content="{% block page_description %}clothes, jackets, jeans{% endblock %}">
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/icons/favicon.ico') }}" />
    {#<link rel="stylesheet" href="{{ asset('build/css/admin.css') }}">#}
    {{ encore_entry_link_tags('css/admin') }}
    {% block stylesheets %}{% endblock %}
</head>

{% block layout_body %}{% endblock %}

{{ encore_entry_script_tags('js/app') }}
{#<script src="{{ asset('build/js/app.js') }}"></script>#}
</html>