{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-details page-login mt-2">
                    <h1 class="h3 mb-2 text-center font-weight-normal title-gradient-1">
                        {{ 'Registration'|trans }}
                    </h1>
                    {{ form_start(registrationForm) }}
                        <div class="form-group">
                            {{ form_label(registrationForm.email) }}
                            {{ form_widget(registrationForm.email) }}
                            {{ form_errors(registrationForm.email) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(registrationForm.plainPassword) }}
                            {{ form_widget(registrationForm.plainPassword) }}
                            {{ form_errors(registrationForm.plainPassword) }}
                        </div>

                        <div class="form-footer">
                            <div class="row">
                                <div class="col-lg-4">
                                    <button type="submit" class="btn btn btn-success">
                                        SIGN UP
                                    </button>
                                </div>
                                <div class="col-lg-8">
                                    <div class="custom-control custom-checkbox">
                                        {{ form_widget(registrationForm.agreeTerms) }}
                                        {{ form_label(registrationForm.agreeTerms) }}
                                        {{ form_errors(registrationForm.agreeTerms) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{ form_end(registrationForm) }}

                    <div class="form-additional mt-2 pt-1">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <a href="{{ path('connect_google_start') }}" class="btn btn-link">
                                    Login with Google
                                </a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 text-center">
                                <a href="{{ path('connect_facebook_start') }}" class="btn btn-link">
                                    Login with Facebook
                                </a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 text-center">
                                <a href="{{ path('connect_instagram_start') }}" class="btn btn-link">
                                    Login with Instagram
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
