<div class="cart shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Filters</h6>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-outline-secondary shadow-sm" id="order_list_filters_btn">
                <i class="fas fa-filter fa-sm"></i> Show/Hide filters
            </a>
        </div>
    </div>
    <div class="card-body" id="order_list_filters_block">
        {{ form_start(form) }}
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Filters</td>
                        <td>Value</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ form_label(form.id) }}</td>
                        <td>
                            {{ form_widget(form.id) }}
                            <div class="form-error">
                                {{ form_errors(form.id) }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form_label(form.owner) }}</td>
                        <td>
                            {{ form_widget(form.owner) }}
                            <div class="form-error">
                                {{ form_errors(form.owner) }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form_label(form.status) }}</td>
                        <td>
                            {{ form_widget(form.status) }}
                            <div class="form-error">
                                {{ form_errors(form.status) }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form_label(form.totalPrice) }}</td>
                        <td>
                            {{ form_widget(form.totalPrice) }}
                            <div class="form-error">
                                {{ form_errors(form.totalPrice) }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form_label(form.createdAt) }}</td>
                        <td>
                            {{ form_widget(form.createdAt) }}
                            <div class="form-error">
                                {{ form_errors(form.createdAt) }}
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-outline-secondary">
                                Apply filters
                            </button>
                            <a href="{{ path(app.request.attributes.get('_route')) }}" class="btn btn-outline-secondary">
                                Reset filters
                            </a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {{ form_end(form) }}
    </div>
</div>