{% if slug is not defined %}
    {% set slug = '' %}
{% endif %}

{% if isBold is not defined %}
    {% set isBold = 0 %}
{% endif %}

{% if ROUTE_NAME == 'category_show' %}
    {% set isActiveItem = (app.request.attributes.get('slug') == slug) %}
{% else %}
    {% set isActiveItem = (ROUTE_NAME == targetRoute) %}
{% endif %}

{% if targetRoute == 'category_show' %}
    {% set url = path('category_show', {'slug': slug}) %}
{% else %}
    {% set url = path(targetRoute) %}
{% endif %}

<li class="menu-item
    {% if isBold %}font-weight-bold{% endif %}
    {% if isActiveItem %}active{% endif %}
">
    <a href="{{ url }}">
        <div>{{ label }}</div>
    </a>
</li> 