{% extends 'admin/layout/layout_main.html.twig' %}

{% block title_detailed %}Edit User{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% include 'admin/partials/breadcrumbs.html.twig' with {
                'sectionTitle': 'Users',
                'actionUrl': path('admin_user_index'),
                'addActionUrl': path('admin_user_create'),
                'entity': user
            } %}
        </div>
        
        <div class="card-body">
            {{ form_start(form) }}

            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.fullName) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.fullName) }}
                    <div class="form-error">
                        {{ form_errors(form.fullName) }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-1">
                    Email
                </div>
                <div class="col-md-11">
                    {{ user.email }}
                    {% do form.email.setRendered %}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.password) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.password) }}
                    <div class="form-error">
                        {{ form_errors(form.password) }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.phone) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.phone) }}
                    <div class="form-error">
                        {{ form_errors(form.phone) }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.address) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.address) }}
                    <div class="form-error">
                        {{ form_errors(form.address) }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.roles) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.roles) }}
                    <div class="form-error">
                        {{ form_errors(form.roles) }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-1"></div>
                <div class="col-md-11 pl-5">
                    {{ form_widget(form.isDeleted) }}
                    {{ form_label(form.isDeleted) }}
                    <div class="form-error">
                        {{ form_errors(form.isDeleted) }}
                    </div>
                </div>
            </div>

            <hr/>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <a href="{{ path('admin_category_index') }}" class="btn btn-default btn-return">
                        <i class="fas fa-arrow-circle-left"></i>
                    </a>
                    <button type="submit" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
                {% if user %}
                    <a class="btn btn-white" data-toggle="modal" data-target="#approveDeleteModal">
                        <i class="fas fa-times fa-sm"></i> 
                        Delete row
                    </a>
                {% endif %}
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>

    {% if user.id %}
        {% include 'admin/partials/modalwindow.html.twig' with {
            'modalId': 'approveDeleteModal',
            'modalTitle': 'Are you sure?',
            'modalText': 'User will be deleted.',
            'actionUrl': path('admin_user_delete', {'id': user.id}),
            'modalBtnText': 'Delete row'
        } %}
    {% endif %}
{% endblock %}