{% extends 'admin/layout/layout_main.html.twig' %}

{% block title_detailed %}All Users{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold text-primary">Users</h6>
                <a href="{{ path('admin_user_create') }}" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
                    <i class="fas fa-plus fa-sm text-white-50"></i> Create user
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="main_table">
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Profile</th>
                        <th>Facebook</th>
                        <th>Google</th>
                        <th>Instagram</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in pagination %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% if "ROLE_ADMIN" in user.roles %}
                                   <strong>Admin</strong>
                                {% else %} 
                                   User 
                                {% endif %}<br/>
                                
                                <small>{{ user.roles|join(', ', ' and ') }}</small>
                            </td>
                            <td>
                                Name: {{ user.fullName }}<br/>
                                Phone: {{ user.phone }}<br/>
                                Address: {{ user.address }}<br/>
                            </td>
                                <td>{% if user.facebookId %}+{% endif %}</td>
                                <td>{% if user.googleId %}+{% endif %}</td>
                                <td>{% if user.instagramId %}+{% endif %}</td>
                            <td>
                                <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-outline-info">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}