{% block content %}
    <row>
        <columns>
            <spacer size="35"></spacer>
            <center>
                <h1>Your password reset request</h1>
            </center>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <p>To reset your password, please visit the following link</p>

            <a href="{{ url('reset_password', {token: resetToken.token}) }}">{{ url('reset_password', {token: resetToken.token}) }}</a>

            <p>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
        </columns>
    </row>
{% endblock %}
