{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="page-content pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-details page-login mt-4">
                        <h1 class="h3 mb-3 font-weight-normal title-gradient-1">Reset your password</h1>
                        {% for flashError in app.flashes('reset_password_error') %}
                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                        {% endfor %}

                        {{ form_start(resetForm) }}
                        <div class="form-group">
                            {{ form_label(resetForm.plainPassword.first) }}
                            {{ form_widget(resetForm.plainPassword.first) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(resetForm.plainPassword.second) }}
                            {{ form_widget(resetForm.plainPassword.second) }}
                        </div>

                        <div class="form-footer-buttons">
                            <button type="submit" class="btn btn-primary">
                                Reset password
                            </button>
                        </div>
                        {{ form_end(resetForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
