<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>{% block title %}Shop Of Best Clothes{% endblock %}</title>
        <meta name="keywords" content="{% block page_keywords %}clothes, jackets, jeans{% endblock %}">
        <meta name="description" content="{% block page_description %}clothes, jackets, jeans{% endblock %}">
        <link rel="icon" type="image/x-icon" href="{{ asset('build/images/icons/favicon.ico') }}" />
        {{ encore_entry_link_tags('css/app') }}
        {{ encore_entry_script_tags('js/app') }}
        {#<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">#}
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
        {% endblock %}
    </head>
    <body>
        <div class="page-wrapper">
            {% set ROUTE_NAME = app.request.attributes.get('_route') %}
            
            {% include 'header.html.twig' %}

            <main class="main">
                {% block body %}{% endblock %}
            </main>

            {% include 'footer.html.twig' %}
        </div>
    </body>
</html>