<footer class="footer">
    <div class="footer-middle">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <h4 class="widget-title">Useful links</h4>
                    <ul class="widget-list">
                        <li>
                            <a href="#">Homepage</a>
                        </li>
                        <li>
                            <a href="#">Sign up</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 mt-3">
                    <h4 class="widget-title">My Account</h4>
                    <ul class="widget-list">
                        <li>
                            <a href="#">Sign in</a>
                        </li>
                        <li>
                            <a href="#">View cart</a>
                        </li>
                        <li>
                            <a href="#">My profile</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 mt-3">
                    <h4 class="widget-title">Change language</h4>
                    <ul class="widget-list">
                        <li>
                            <a href="{{ path('home', {_locale: 'ru'}) }}">{{ 'ru'|locale_name('ru')|capitalize }}</a>
                        </li>
                        <li>
                            <a href="{{ path('home', {_locale: 'en'}) }}">{{ 'en'|locale_name('en')|capitalize }}</a>
                        </li>
                        <li>
                            <a href="{{ path('home', {_locale: 'de'}) }}">{{ 'de'|locale_name('de')|capitalize }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 mt-3">
                    <p class="widget-copyright">Copyright © EdVax. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>