<div class="mobile-menu-container" id="mobile_menu_container">
    <button class="mobile-menu-close-btn" id="mobile_menu_close_btn">
        <i class="fas fa-times"></i>
    </button>
    <nav class="mobile-nav">
        <ul class="mobile-menu">
            {% include 'partials/menu_item.html.twig' with {
                'targetRoute': 'category_show',
                'slug': 'jeans',
                'label': 'Jeans'
            } %}
            {% include 'partials/menu_item.html.twig' with {
                'targetRoute': 'category_show',
                'slug': 'hats',
                'label': 'Hats'
            } %}
            {% include 'partials/menu_item.html.twig' with {
                'targetRoute': 'category_show',
                'slug': 'jackets',
                'label': 'Jackets'
            } %}
            {% include 'partials/menu_item.html.twig' with {
                'targetRoute': 'category_show',
                'slug': 'dresses',
                'label': 'Dresses'
            } %}
            {% include 'partials/menu_item.html.twig' with {
                'targetRoute': 'category_show',
                'slug': 'sneakers',
                'label': 'Sneakers'
            } %}

            {% if app.user %}
                {% include 'partials/menu_item.html.twig' with {
                    'targetRoute': 'profile_index',
                    'isBold': 1,
                    'label': 'Profile'
                } %}
            {% else %}
                {% include 'partials/menu_item.html.twig' with {
                    'targetRoute': 'app_login',
                    'isBold': 1,
                    'label': 'Login'
                } %}
            {% endif %}
            
            {% include 'partials/menu_item.html.twig' with {
                'targetRoute': 'cart_show',
                'isBold': 1,
                'label': 'Cart'
            } %}
        </ul>
    </nav>
</div>

<header class="header">
    <div class="container-fluid">
        <button class="mobile-menu-toggler" id="mobile_menu_toggler">
            <i class="fas fa-bars"></i>
        </button>

        <a href="{{ path('home') }}" class="logotype">
            <img src="{{ asset('build/images/icons/logo_366x79.svg') }}" alt="RankedChoice Logotype">
        </a>
        <nav class="main-nav">
            <ul class="menu">
                {% include 'partials/menu_item.html.twig' with {
                    'targetRoute': 'category_show',
                    'slug': 'jeans',
                    'label': 'Jeans'
                } %}
               {% include 'partials/menu_item.html.twig' with {
                    'targetRoute': 'category_show',
                    'slug': 'hats',
                    'label': 'Hats'
                } %}
                {% include 'partials/menu_item.html.twig' with {
                    'targetRoute': 'category_show',
                    'slug': 'jackets',
                    'label': 'Jackets'
                } %}
                {% include 'partials/menu_item.html.twig' with {
                    'targetRoute': 'category_show',
                    'slug': 'dresses',
                    'label': 'Dresses'
                } %}
                {% include 'partials/menu_item.html.twig' with {
                    'targetRoute': 'category_show',
                    'slug': 'sneakers',
                    'label': 'Sneakers'
                } %}

                {% if app.user %}
                    {% include 'partials/menu_item.html.twig' with {
                        'targetRoute': 'profile_index',
                        'isBold': 1,
                        'label': 'Profile'
                    } %}
                {% else %}
                    {% include 'partials/menu_item.html.twig' with {
                        'targetRoute': 'app_login',
                        'isBold': 1,
                        'label': 'Login'
                    } %}
                {% endif %}
                
                {% include 'partials/menu_item.html.twig' with {
                    'targetRoute': 'cart_show',
                    'isBold': 1,
                    'label': 'Cart'
                } %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown-language" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.request.locale|locale_name(app.request.locale) }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-language">
                        <a class="dropdown-item" href="{{ path('home', {_locale: 'en'}) }}">English</a>
                        <a class="dropdown-item" href="{{ path('home', {_locale: 'ru'}) }}">Pусский</a>
                        <a class="dropdown-item" href="{{ path('home', {_locale: 'de'}) }}">Deutsch</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>

{% include 'flash_message.html.twig' %}